#top-panel {
  display: flex;
}

.top-panel-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.custom-option {
  display: flex;
  align-items: center;
}

.custom-option-delete {
  margin: 10px;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.custom-option-delete:hover {
  opacity: 1;
}
